<div class="container">
  <div class="row">
    <div class="col-lg-12 pt-5 mt-5">
      <table class="table  table-bordered">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th>mobile no</th>
          <th>college name</th>
        </tr>
        <tr *ngFor = " let result of studentData, let i = index">
          <td>{{i+1}}</td>
          <td>{{ result.name}}</td>
          <td>{{ result.email}}</td>
          <td>{{ result.mob}}</td>
          <td>{{ result.college}}</td>
        </tr>

      </table>

    </div>
  </div>
</div>
